@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-action: #0d80f2;
  --color-white: #fff;
  --color-gray: #f0f2f5;
  --color-black: #000;
  --color-green: #138808;
  --color-red: #ff0800;
  --breakpoint-xs: 500px;
}

